@import '../../assets/styles/index.scss';

._groupContainer {
    font-family: $muli;
    ._groupHeader {
        background: $shadowGray;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            margin: 0;
        }
        ._buttons {
            button {
                @include sendButton();
            }
        }
    }

    ._groupContent {
        background: $shadowGray;
        border-radius: 20px;
        padding: 20px;
        align-items: center;
        margin-top: 10px;
        height: calc(100% - 130px);
    }
}
