//General colors

$blue             :#33A3DC;
$seaGreen         :#5CD6B1;
$tableGray        :#f6f6f6;
$darkBlue         :#0366a2;
$black            :#0d1216;
$red              :#d52222;
$shadowGray       :#E5E5E5;
$mediumBlue       :#0096c9;
$grayButton       :#f8f8f8;
$white            :#ffffff;
$textGray         :#414141;
$dimGray          :#DCDCDC;
$whiteSmoke       :#F1F1F1;
$buttonLightBlue  :#35A7D6;
$textLightGray    :#C9C9C9;
$textBlack        :#484848;
$superDarkGray    :#707070;

